/* General Container */
.delivery-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #e6f7ff; /* Fondo azul claro */
    padding: 20px;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
    color: #004d66; /* Texto azul oscuro */
    transition: all 0.3s ease-in-out;
}

/* Contenido Principal */
.delivery-content {
    display: flex;
    gap: 20px;
    position: relative;
    overflow: hidden;
    height: 100%; /* Ajustar la altura */
}

.creating-mode .delivery-content {
    transform: translateX(0);
}

.creating-mode .delivery-create-order {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%; /* Ajustar el ancho para que sea similar a mostrador */
    min-height: 400px;
    overflow-y: auto;
    animation: slideInFromLeft 0.3s ease-in-out;
    border: 2px solid #007399; /* Borde azul */
}

.creating-mode .delivery-orders-list {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto; /* Ajustar la altura */
}

/* Lista de pedidos enviados/entregados */
.delivery-completed-orders {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto; /* Ajustar la altura */
}

/* Animaciones */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}