/* Subheader */
.sub-header {
    display: flex;
    justify-content: center;
    gap: 10px; /* Reducir el espacio entre los botones */
    background-color: #302e2c; /* Marrón oscuro */
    padding: 5px 0; /* Reducir el padding */
    margin-bottom: 10px; /* Reducir el margen inferior */
    position: sticky !important;
    margin: 0;
}

.sub-header a {
    text-decoration: none;
    color: #ffffff; /* Texto blanco */
    font-size: 14px; /* Reducir el tamaño de fuente */
    font-weight: bold;
    padding: 5px 10px; /* Reducir el padding interno */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sub-header a:hover {
    background-color: #4d4b49; /* Marrón más claro */
}

.sub-header a.active {
    background-color: #ffd966; /* Amarillo */
    color: #4d2600; /* Marrón oscuro */
}

