/* Subheader */
.sub-header {
    display: flex;
    justify-content: center;
    gap: 10px; /* Reducir el espacio entre los botones */
    background-color: #302e2c; /* Marrón oscuro */
    padding: 5px 0; /* Reducir el padding */
    border-radius: 5px;
    margin-bottom: 10px; /* Reducir el margen inferior */
}

.sub-header a {
    text-decoration: none;
    color: #ffffff; /* Texto blanco */
    font-size: 14px; /* Reducir el tamaño de fuente */
    font-weight: bold;
    padding: 5px 10px; /* Reducir el padding interno */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sub-header a:hover {
    background-color: #4d4b49; /* Marrón más claro */
}

.sub-header a.active {
    background-color: #ffd966; /* Amarillo */
    color: #4d2600; /* Marrón oscuro */
}

/* Botón para crear un nuevo pedido */
.create-order-button-container {
    display: flex;
    justify-content: center;
}

.create-order-button {
    background-color: #28a745; /* Verde */
    color: white;
    padding: 8px 15px; /* Reducir el padding */
    border: none;
    border-radius: 5px;
    font-size: 14px; /* Reducir el tamaño de fuente */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.create-order-button:hover {
    background-color: #218838; /* Verde más oscuro */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.create-order-button:active {
    background-color: #1e7e34; /* Verde aún más oscuro */
    transform: scale(0.95); /* Efecto de reducción al hacer clic */
}