# Build results
[Bb]in/
[Oo]bj/
[Pp]ublish/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build outputs
*.dll
*.exe
*.pdb
*.cache

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Others
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.bak
*.tmp
*.temp

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Installer output
[Oo]utput/
*.exe
