<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiPort" value="5000" />
    <add key="PrintQueue" value="DefaultPrintQueue" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="PrintService" switchValue="Information">
        <listeners>
          <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>